
/**************/
/* CSS REMEDY */
/**************/

*::after,
*::before {
	box-sizing: border-box;
	margin:0;
}

*{
	padding:0;
}

button,
summary {
	cursor: pointer;
}

/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--color-text: #111;
	--color-background: #F6F7F6;


}

/****************/
/* JOUW STYLING */
/****************/

/* jouw code */

/* Bron: Emilio heeft mij geholpen */

main section:nth-of-type(1) div button:hover {
    
    background-image: url("../images/logo.svg");
    background-size: 300% 100%;
    animation-name: shimmer;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    
}

@keyframes shimmer {
    
    0% {
    background-position: left center;
    }
    
    100% {
    background-position: right center;
    }
}


main section:nth-of-type(1) div button:focus {
    
    background-image: url("../images/logo.svg");
    background-size: 300% 100%;
    animation-name: shimmer;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    
}

@keyframes shimmer {
    
    0% {
    background-position: left center;
    }
    
    100% {
    background-position: right center;
    }
}

body {
	color: var(--color-text);
	background-color: var(--color-background);
	margin: 0;
}

body h1 {
	display: none;
}

header h1 {
	display: none;
}

header nav ul li {
	visibility: hidden;
}

header ul:nth-of-type(1) {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	margin: 0.1em;
	padding-top: 1.5em;
	padding-left: 0.5em;
	margin-bottom: -1em;
	
	
}
main img {
    width: 100%;
}

main section:first-of-type div {
	position: absolute;
	left: 3em;
	bottom: 2em;
}


main section div h2 {
	padding: -2em;
	margin-left: -0.7em;
	margin-bottom: -0.2em;
	color: white;
	font-family: 'sodosans';	
}


main section div button {
	margin-top: 1em;
	padding: 1em;
	margin-left: -1em;
	font-family: 'sodosans';
}



main section:first-of-type {
		position: relative;
	}

main section:first-of-type div {
	position: absolute;
	left: 3em;
	bottom: 1em;
}

main img:nth-last-of-type(1) {
	display: flex;
	align-items: center;
}

/* Links + Buttons, https://alvarotrigo.com/blog/css-round-button/*/


main section:nth-of-type(1) button {
	border-radius: 1em;
    border: 1px solid white;
	color: white;
    padding: 5px 10px;
    background: transparent;
    font-size: 1em;
    cursor: pointer;
	
}

main button {
	border-radius: 1em;
    border: 1px solid #44996A;
    padding: 5px 10px;
    background: white;
    font-size: 1em;
    cursor: pointer;
}

main a {
	border-radius: 10em;
    border: 1px solid #44996A;
	font-family: "SoDoSans", sans-serif;
	font-weight: 500;
	color: #44996A;
    padding: 5px 10px;
    background: white;
    font-size: 1em;
    cursor: pointer;
}





/* ----------------------------------------------------------- */


section:nth-of-type(2), section:nth-of-type(3) {
    display: flex;
    flex-direction: column;
    margin: 1em;
}

main section:nth-of-type(n+4){
margin: 1em;
}

section h2 {
	font-family: 'SoDoSans', sans-serif;
}

section h3 {
	font-family: 'SoDoSans', sans-serif;
	font-weight: bold;
}

section p {
	font-family: 'sodosans-light', sans-serif
}





  /**************/
/* CSS REMEDY */
/**************/

*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
}

* {
	padding: 0;
}

button,
summary {
	cursor: pointer;
}

/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--color-text: #111;
	--color-background: #fff;
}

/* Dark mode */

/* @media (prefers-color-scheme:dark) {
	:root {
		--color-background: #121212;
		--color-text: white;
	}
    img {
		filter: brightness(0.85);
	}
}  */

/* Surface plane punt 1; het reducen van motion wanneer de gebruiker dat aangeeft.  */

@media (prefers-reduced-motion: reduce) {
	main section:nth-of-type(1) div button:hover {
	  animation: none;
	}
  }

/****************/
/* JOUW STYLING */
/****************/

/* jouw code */



/* Alle STATES van buttons, knoppen e.d */

/* a:visited {
	color: red;
}  */

a:active {
color: purple;
}

a:focus {
color: black;
} 

a:hover{
color: black;	
}

/* a:visited{
color: purple;	
} */





@font-face {
	src: url('../font/SoDoSans-Regular.ttf');
	font-family: sodosans;
}

@font-face {
	src: url('../font/SoDoSans-SemiBold.ttf');
	font-family: sodosans-bold;
}

@font-face {
	src: url('../font/SoDoSans-Light.ttf');
	font-family: sodosans-light;
}

body {
	color: var(--color-text);
	background-color: var(--color-background);
	margin: 0;
}



body header ul li img:nth-last-of-type(1) {
	width: 3em;
	height: 2em;
}

body h1 {
	display: none;
}



header ul:nth-of-type(1) {
	display: flex;
	flex-direction: row;
	align-items: center;
	list-style: none;
	justify-content: space-between;
	margin: 0.1em;
	padding-top: 1.5em;
	padding-left: 0.5em;
	margin-bottom: -1em;

}



main section:nth-of-type(1) img {
	width: 100%;
	height: 20%;
}

main section:first-of-type {
	position: relative;
}



/* Knoppen in Header image */

main section:first-of-type div {
	position: absolute;
	left: 3em;
	bottom: 2em;
}

main section div button {
	/* box-shadow: 0.1em 0.1em 0.1em 0.1em;
	color: black; */
	/* box-shadow: 0.2em 0.2em 0.2em black; */
	margin-top: 1em;
	padding: 1em;
	margin-left: -1em;
	font-family: 'sodosans';	
}

main img:nth-last-of-type(1) {
	display: flex;
	align-items: center;
}


main section:nth-of-type(3) p a {
	text-decoration-style: none;
}



/* Links + Buttons, https://alvarotrigo.com/blog/css-round-button/*/

main section:nth-of-type(1) button {
	border-radius: 1em;
	border: 1px solid white;
	color: white;
	padding: 5px 10px;
	background: transparent;
	font-size: 1em;
	cursor: pointer;
}

main button {
	border-radius: 1em;
	border: 1px solid #44996A;
	padding: 5px 10px;
	background: white;
	font-size: 1em;
	cursor: pointer;
}

main a {
	border-radius: 10em;
	border: 1px solid #44996A;
	font-family: "sodosans-bold";
	font-weight: 500;
	color: #44996A;
	padding: 5px 10px;
	background: white;
	font-size: 0.9em;
	cursor: pointer;
	text-decoration: none;
	
}



/* ----------------------------------------------------------- */


/* Start Menu */


/* ONDERSTAANDE SAMENVOEGEN IN 1 SELECTOR! */
main section:nth-of-type(2) {
	display: flex;
	flex-direction: column;
	margin: 1EM;
}

main section:nth-of-type(3) {
	display: flex;
	flex-direction: column;
	margin: 1EM;
}

main section:nth-of-type(3) a {
	width: fit-content;
}

main section:nth-of-type(4) a {
	width: fit-content;
}

main section:nth-of-type(5) a {
	width: fit-content;
}

main section:nth-of-type(6) a {
	width: fit-content;
}

/* ONDERSTAANDE SAMENVOEGEN IN 1 SELECTOR! */




main section h2 {
	font-family: 'sodosans', sans-serif;
}

main section h3 {
	font-family: 'sodosans', sans-serif;
	font-weight: bold;
}

main section p {	
	font-family: 'sodosans-light';
}



main section:nth-of-type(16), 
main section:nth-of-type(17),
main section:nth-of-type(18),
main section:nth-of-type(19) {
border-bottom: solid 1px black;
padding-left: 5em;
position: relative;
}

main section:nth-of-type(16) img,
main section:nth-of-type(17) img,
main section:nth-of-type(18) img,
main section:nth-of-type(19) img {
position: absolute;
top: 0;
left: 0;
width: 4em;
height: auto;	
}





/* Hier begint het eerste footer menu */

footer section:nth-of-type(1) {
	position:relative; /* zodat de button binnen de setcion blijft */
}

footer section:nth-of-type(1) span {
	position:absolute; /* op een plek binnen de section */
	top:0;
	right:0em;
	width: 2em;
	height: 2em;  
}

footer section:nth-of-type(1) h2 {
	margin:0;
	font-family: 'sodosans';
	font-size: 1.3em;
	margin-left: 0.5em;
	margin-bottom: 2em;
}

footer section:nth-of-type(1) ul {
	margin:0.5em;
	padding:0;
	list-style:none;
	
	max-height:0; /* ingeklapt geen hoogte */
	overflow:hidden; /* wat uitsteekt is verborgen */
	
	transition:.4s; /* .3s is een mooie tijd - langer vinden mensen te traag */
}

footer section:nth-of-type(1) ul li a {
	font-family: 'sodosans-bold';
	font-size: 0.9em;
	margin-left: 0.3em;
	text-decoration: none;
}


footer section:nth-of-type(1) ul.open {
	max-height:15em; /* mikken dat dit de goede hoogte is voor jouw menu */
	line-height: 3em;
} 


/* Hier begint het tweede footer menu */

footer section:nth-of-type(2) {
	position:relative; /* zodat de button binnen de setcion blijft */
}

footer section:nth-of-type(2) span {
	position:absolute; /* op een plek binnen de section */
	top:0;
	right:0;
}


footer section:nth-of-type(2) span img {
	position:absolute; /* op een plek binnen de section */
	top:0;
	right:0em;
	width: 2em;
	height: 2em;  
}

footer section:nth-of-type(2) h2 {
	margin:0;
	font-size:1.3em;
	margin-left: 0.5em;
	font-family: 'sodosans';
	margin-bottom: 2em;
}

footer section:nth-of-type(2) ul {
	margin:0.5em;
	padding:0;
	list-style:none;
	
	max-height:0; /* ingeklapt geen hoogte */
	overflow:hidden; /* wat uitsteekt is verborgen */
	
	transition:.4s; /* .3s is een mooie tijd - langer vinden mensen te traag */
}

footer section:nth-of-type(2) ul li a {
	font-family: 'sodosans-bold';
	font-size: 0.9em;
	margin-left: 0.4em;
	text-decoration: none;
}


footer section:nth-of-type(2) ul.open {
	max-height:6em; /* mikken dat dit de goede hoogte is voor jouw menu */
	line-height: 3em;
} 




footer section:nth-of-type(3) {
	position:relative; /* zodat de button binnen de setcion blijft */
}

footer section:nth-of-type(3) span {
	position:absolute; /* op een plek binnen de section */
	top:0;
	right:0;
}

footer section:nth-of-type(3) span img {
	position:absolute; /* op een plek binnen de section */
	top:0;
	right:0em;
	width: 2em;
	height: 2em;  
}

footer section:nth-of-type(3) h2 {
	margin:0;
	font-size:1.3em;
	margin-left: 0.5em;
	font-family: 'sodosans';
}

footer section:nth-of-type(3) ul {
	
	padding:0;
	list-style:none;
	
	max-height:0; /* ingeklapt geen hoogte */
	overflow:hidden; /* wat uitsteekt is verborgen */
	
	transition:.4s; /* .3s is een mooie tijd - langer vinden mensen te traag */
}

footer section:nth-of-type(3) ul li a {
	font-family: 'sodosans-bold';
	font-size: 0.9em;
	margin-left: 0.7em;
	text-decoration: none;
}

footer section:nth-of-type(3) ul.open {
	max-height:6em; /* mikken dat dit de goede hoogte is voor jouw menu */
	line-height: 3em;
} 





footer video { 
	width: 100%;
	height: 100%;
}

footer section:nth-of-type(5) li img { 
position: relative;
display: flex;

width: 2em;
height: 2em;
}



 

/* Footer tekst */

footer section:nth-of-type(6) ul li {
	font-family: 'sodosans';
	font-size: 1em;
	margin-left: 1.5em;
	line-height: 2em;
	list-style: none;
	
}



