
/**************/
/* CSS REMEDY */
/**************/

*::after,
*::before {
	box-sizing: border-box;
	margin:0;
}

*{
	padding:0;
}

button,
summary {
	cursor: pointer;
}

/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--color-text: #111;
	--color-background: #F6F7F6;


}

/****************/
/* JOUW STYLING */
/****************/

/* jouw code */

body {
	color: var(--color-text);
	background-color: var(--color-background);
	margin: 0;
}

header nav ul li {
	visibility: hidden;
}

header ul:nth-of-type(1) {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	margin: 0.1em;
	padding-top: 1.5em;
	padding-left: 0.5em;
	margin-bottom: -1em;
	
	
}
main img {
    width: 100%;
}

main section:first-of-type {
		position: relative;
	}

main section:first-of-type div {
	position: absolute;
	left: 3em;
	bottom: 1em;
}

main img:nth-last-of-type(1) {
	display: flex;
	align-items: center;
}

/* Links + Buttons, https://alvarotrigo.com/blog/css-round-button/*/


main section:nth-of-type(1) button {
	border-radius: 1em;
    border: 1px solid white;
	color: white;
    padding: 5px 10px;
    background: transparent;
    font-size: 1em;
    cursor: pointer;
	
}

main button {
	border-radius: 1em;
    border: 1px solid #44996A;
    padding: 5px 10px;
    background: white;
    font-size: 1em;
    cursor: pointer;
}

main a {
	border-radius: 10em;
    border: 1px solid #44996A;
	font-family: "SoDoSans", sans-serif;
	font-weight: 500;
	color: #44996A;
    padding: 5px 10px;
    background: white;
    font-size: 1em;
    cursor: pointer;
}


/* ----------------------------------------------------------- */

section:nth-of-type(2), section:nth-of-type(3) {
    display: flex;
    flex-direction: column;
    margin: 1em;
}

main section:nth-of-type(n+4){
margin: 1em;
}

section h2 {
	font-family: 'SoDoSans', sans-serif;
}

section h3 {
	font-family: 'SoDoSans', sans-serif;
	font-weight: bold;
}

section p {
	font-family: 'Sodo sans', sans-serif
}


footer:nth-of-type(1) li {
	font-size: 2em;
	list-style: none;
	font-family: 'Sedo sans', Tahoma, Geneva, Verdana, sans-serif;

}



footer section:nth-of-type(2) ul li {
	font-family:'Sedo sans', Tahoma, Geneva, Verdana, sans-serif;
	font-size: 1em;
	font-weight: 500;
	position: relative;
	list-style: none;

}





/* Via https://developer.mozilla.org/en-US/docs/Web/HTML/Element/hr, ik begrijp hoe het werkt, een horizonate lijn over het scherm. */
hr {
	border: 1em;
	border-top: 0.1em solid #95a5a6;
	height: 1em;
}


